.footer {
    background-color: var(--bg-section-hero);
    padding: 60px 0;

    &_container {
        display: flex;
      }

    &_link {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
  }

    &_address {
    font-style: normal;
  }

    &_adrress_link{
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    text-decoration: none;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{color: var(--text-color-white);}
    &:focus{color: var(--text-color-white);}
  }

  }
  
  .second_color_white {
    color: white;
  }
  
  
  
 
  
  .social_media {
    padding-left: 70px;
    padding-top: 15px;

    &_title{
        margin-bottom: 20px;
        color: var(--text-color-white);
      }

    &_list{
        display: flex;
        justify-content: center;
      }

    &_link {
    color: var(--text-color-white);
    width: 44px;
    display: flex;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{ color: var(--text-color-white);
        background-color: #2196f3;}
    &:focus{ color: var(--text-color-white);
            background-color: #2196f3;}
  }

    &_icon {
    fill: currentColor;
  }

  }
  
  
  .social_media_link:not(:last-child) {
    margin-right: 10px;
  }
  
  .social_media_item:not(:last-child) {
    margin-right: 10px;
  }
  
  
  
  .subscription{
    padding-left: 93px;
    padding-top: 15px;

    &_title {
        margin-bottom: 20px;
        color: var(--text-color-white);
      }

    &_form{
        display:flex
      }

    &_input{
        width: 343px;
        height: 50px;
        background-color: #2F303A;
        border: 1PX solid rgba(255, 255, 255, 0.3);
        color:rgba(255, 255, 255, 0.6) ;
        margin-right: 10px;
        border-radius: 4px;
        padding-left:13px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover{ background-color: #2F303A;
            outline: none;
            border-color: var(--text-color-white);}
            &:focus{ background-color: #2F303A;
                outline: none;
                border-color: var(--text-color-white);}
            }

        &_icon
        { fill:white;
          margin-left: 10px;
        }

        &_button{
            padding: 0 60px;
            background-color: #2196F3;
            color: var(--text-color-white);
            border-radius: 4px;
            border-style: none;
            cursor: pointer;
            justify-content: center;
            display: flex;
            align-items: center;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            font-family: 'Roboto';
            font-weight: 700;
            &:hover{ background-color: #188CE8;
                color: var(--text-color-white);}
                &:focus{ background-color: #188CE8;
                    color: var(--text-color-white);}
          }
  }
  
  
  
  
  

  
 
  

  